<div class="better-wishlist-page-wrap">
  {% if products %}
    <table class="shop_table cart wishlist_table wishlist_view traditional responsive">
      <thead>
        <tr>
          <th class="product-remove">
            <span class="nobr">
            </span>
          </th>
          <th class="product-thumbnail">
          </th>
          <th class="product-name">
            <span class="nobr">{{ i18n.product_name }}
            </span>
          </th>
          <th class="stock-status">
            <span class="nobr">{{ i18n.stock_status }}
            </span>
          </th>
          <th class="add-to-cart">
          </th>
        </tr>
      </thead>
      <tbody class="wishlist-items-wrapper">
        {% for product in products %}
          <tr id="wishlist-row-{{ product.id }}"
              data-row-id="{{ product.id }}"
              class="wishlist-row">
            <td class="product-remove">
              <div>
                <a href="#"
                  data-product_id="{{ product.id }}"
                  class="remove better-wishlist-remove-from-wishlist"
                  title="{{ i18n.remove_this_product }}">
                  ×
                </a>
              </div>
            </td>
            <td class="product-thumbnail">
              <a href="{{ product.url }}">
                <img class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                    src="{{ product.thumbnail_url }}"
                    sizes="(max-width: 450px) 100vw, 450px"
                    width="450"
                    height="450" />
              </a>
            </td>
            <td class="product-name">
              <a href="{{ product.url }}">{{ product.title }}
              </a>
            </td>
            <td class="stock-status">
              <span>{{ product.stock_status }}
              </span>
            </td>
            <td class="add-to-cart">
              <a class="button better-wishlist-add-to-cart-single add_to_cart_button better-wishlist-addto-cart-button"
                data-product_id="{{ product.id }}"
                href="#">
                {{ i18n.add_to_cart }}
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="add-to-cart-multiple">
      <a href="#"
        data-products="{{ ids|join(',') }}"
        class="button better-wishlist-add-to-cart-multiple">
        {{ i18n.add_all_to_cart }}
      </a>
    </div>
  {% else %}
    <div class="no-record-message">
      {{ i18n.no_records_found }}
    </div>
  {% endif %}
</div>